<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>RailsConf TweetUps - <%= @title || "Powered by TwitterAuth" %></title>
    <%= stylesheet_link_tag 'master' %>
  </head>
  <body>
    <h1><%= link_to "RailsConf TweetUps", '/' %></h1>

    <div id='wrapper'>
      <div id='header'>
        <% ubermenu :id => 'nav' do |m| %>
          <% m.action 'Home', '/' %>
          <% m.action 'My RailsConf', '/home' if logged_in? %>
          <% m.action 'Events', events_path %>
        <% end %>  
        <div id='user_bar'>
          <% if logged_in? %>
            <%= image_tag(current_user.profile_image_url, :width => 24, :height => 24) %> Logged in as <strong>@<%= current_user.login %></strong>. <%= link_to 'Log out', '/logout' %>
          <% else %>
            <%= link_to 'Login via Twitter', '/login' %>
          <% end %>
        </div>
        <div class='clearfix'></div>
      </div>
      <div id='contents'>
        <%= render :partial => "layouts/flash", :locals => {:flash => flash} %> 
        <%= yield %>
      </div>
    </div>
    <div id='footer'>
      Copyright &copy; 2009 <%= link_to 'Intridea, Inc', 'http://intridea.com', :target => '_blank' %>. Powered by <%= link_to 'TwitterAuth', 'http://mbleigh.com/twitter-auth', :target => '_blank' %> (<%= link_to 'Source', 'http://github.com/mbleigh/railsconf-tweetups', :target => '_blank' %>) 
    </div>
  </body>
</html>
